<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formulario" (ngSubmit)="publicar()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar uma publicacao</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" 
        placeholder="Titulo da Publicacao" 
        class="form-control"
        formControlName="titulo">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Publicar</button>
      </div>
    </form>
    </div>
  </div>
</div>
